<div data-page="itemlist" class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="index.html" class="back link icon-only"><i class="icon icon-back"></i></a></div>
        <div class="center">Item List</div>
        <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
      </div>
    </div>
</div>
