<div data-page="regadd" class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
        <div class="center">Item Detail</div>
        <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
      </div>
    </div>

    <div class="content-block-title">Registration Form</div>
    <div class="list-block inputs-list">
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-name"></i></div>
            <div class="item-inner">
              <div class="item-title label">Name</div>
              <div class="item-input">
                <input type="text" data-field="name" placeholder="Your name"/>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-email"></i></div>
            <div class="item-inner">
              <div class="item-title label">E-mail</div>
              <div class="item-input">
                <input type="email" data-field="email" placeholder="E-mail"/>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-password"></i></div>
            <div class="item-inner">
              <div class="item-title label">Password</div>
              <div class="item-input">
                <input type="password" data-field="password" placeholder="Password"/>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-tel"></i></div>
            <div class="item-inner">
              <div class="item-title label">Phone</div>
              <div class="item-input">
                <input type="tel" data-field="phone" placeholder="Phone"/>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-gender"></i></div>
            <div class="item-inner">
              <div class="item-title label">Gender</div>
              <div class="item-input">
                <select data-field="gender">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
            <div class="item-inner">
              <div class="item-title label">Birth date</div>
              <div class="item-input">
                <input type="date" data-field="birthdate" placeholder="Birth day" value="2014-04-30"/>
              </div>
            </div>
          </div>
        </li>
        <li>
            <div class="content-block">
                <p class="buttons-row">
                    <a href="#" data-action="save" class="button button-raised">Save</a>
                    <a href="#" class="button button-raised back">Cancel</a>
                </p>
            </div>
        </li>
      </ul>
    </div>
</div>
