@import url(../../fonts/source-sans-pro/source-sans-pro.css);

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    font-size: 14px;
}

.mobile {
    padding: 10px;

    > div {
        margin-bottom: 10px;

        > div {
            padding-right: 20px;

            input, select {
                width: 100%;
                padding: 4px 8px;
            }

            img {
                border: 1px solid #ccc;
                min-height: 200px;
                width: 100%;
                border-radius: 2px;
            }

            &.image {
                border: 1px solid #ccc;
                padding: 3px 5px 3px 3px;
                border-radius: 2px;

                button {
                    position: absolute;
                    padding: 4px 12px;
                    width: 100px;
                    top: 44%;
                    left: 50%;
                    margin-left: -50px;
                }
            }
        }

        &.buttons {
            margin-top: 20px;

            button {
                width: 100%;
                padding: 4px 8px;
                line-height: 22px;
            }
        }
    }
}

.mobile-header {
    background-color: #000099;
    color: #fff;
    height: 36px;

    .title {
        line-height: 36px;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
}
