body {
    margin: 0;
    padding: 0;

    .page {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: none;

        .header {
            // border: 1px solid #ccc;
            height: 30px;

            .title {
                line-height: 30px;
                text-align: center;
                background-color: #2b2291;
                color: white;
                font-size: 20px;
            }
        }

        .content {

        }

        .control-group {
            padding: 5px 20px;

            input {
                width: 100%;
                height: 20px;
            }

            .toolbars {
                button {
                    width: 100%;
                    height: 30px;
                    margin-bottom: 5px;
                }
            }
        }

        &.active {
            display: block;
        }
    }
}
