<div data-page="reglist" class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="index.html" class="link icon-only"><i class="icon icon-back"></i></a></div>
        <div class="center">Register List</div>
        <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
      </div>
    </div>
    <div class="page-content"></div>
    <a href="views/reg_add.html" class="floating-button color-pink"><i class="icon icon-plus"></i></a>
</div>
